<form class="form-post" action="/creation-post" method="POST" name="postContent" id="post">
        <label>Title post <Title></Title></label>
        <input type="text" placeholder="Title..." name="title" required style="font-family: 'DM Sans', sans-serif;">
        <label>Post Something !<Title></Title></label>
        <textarea name="postContent" type="text" cols="30" rows="10" form="post" placeholder="Write something.." style="font-family: 'DM Sans', sans-serif;"></textarea>
        <button type="submit">Submit</button>
    </div>
