<form action="/creation-post" method="POST">
        <label>Your Post <Title></Title></label>
        <input type="text" placeholder="Title" name="title" required>
        <label>Post Something !<Title></Title></label>
        <input type="text" placeholder="postContent" name="postContent" required>
        <button type="submit">Submit</button>
    </div>
