<form class="form-post" action="/send-post" method="POST" name="postContent" id="post">
        <label>Title post</label>
        <input type="text" placeholder="Title..." name="title" required style="font-family: 'DM Sans', sans-serif;">
        <label>Post Something !</label>
        <textarea name="postContent" type="text" cols="15" rows="10" form="post" placeholder="Write something.." style="font-family: 'DM Sans', sans-serif;"></textarea>
        <button type="submit">Submit</button>