<form action="/creation-post" method="POST">
        {{!-- <label>ID</label>
        <input type="text" placeholder="id" name="id" required> --}}
        <label>Name</label>
        <input type="text" placeholder="name" name="name" required>
        <button type="submit">Submit</button>
    </div>
