
{{>google-login}}
<div class="navbar">
    <a href="/">Index</a>
    <a href="/creation-post-form">Post</a>
    <a href="">GlobalPost</a>
    <a href="/profile">Your Profile</a> 
    <div class="google-navbar">
        <a >Login With :</a>
        <div class="g-signin2" data-onsuccess="onSignIn" id="login">Sign up with Google</div>   
    </div>
</div>



