<link rel="stylesheet" href="./navbar-style.css">
{{>google-login}}
<div class="navbar">
    <a href="/">Index</a>
    <a href="/creation-post-form">Post</a>
    <a href="">GlobalPost</a>
    <a href="">Manage Your Posts</a> 
    <a href="/logout">Log Out</a>
</div>



