
{{>google-login}}
<div class="navbar">
    <a href="/">Index</a>
    <a href="/create-post">Post</a>
    <a href="/feed">feed</a>
    <a href="">Manage Your Posts</a> 
    <a href="/profile">Your profile</a>
    <a href="/logout">Log Out</a>
</div>



