<div class="post">
    <h1>Tittle</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo molestias atque est animi dolorum harum incidunt, a totam libero, reprehenderit quas obcaecati quae doloribus sequi temporibus modi. Cum, et tempore!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo molestias atque est animi dolorum harum incidunt, a totam libero, reprehenderit quas obcaecati quae doloribus sequi temporibus modi. Cum, et tempore!     
    </p>
    <button>Like
    </button>
</div>