<div class="post">
    <div class="post-header">
        <a href="/profile"><img src="{{postList.user_picture}}" alt="" ></a><!--REPLACE "src" icon by user.name --> 
        <a href="/profile">{{post.user_name}}</a> <!--REPLACE "test inside link" icon by user.name -->           
    </div>
    <h2>{{post.postTitle}}</h2><!--REPLACE "title of post" by user.titlepost --> 
    <p>{{post.post_content}}</p><!--REPLACE "post content"  by user.postContent --> 
</div>