
<!DOCTYPE html>
<html lang="fr">
 <head>
   <meta charset="utf-8" />
   <title>Mon application avec NodeJS, ExpressJS et Handlebars</title>
   <link rel="stylesheet" type="text/css" href="./style.css" />
   <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
 </head>  
<body>
    {{>navbar-loged}}
    <div class="feed">
        {{#each postList as |post|}}
            <div class="post">
                <div class="post-header">
                    <img src="{{post.user_picture}}" alt="" >
                    <h5>{{post.user_name}}</h5>         
                </div>
                <h2>{{post.post_title}}</h2> 
                <p>{{post.post_content}}</p>
            </div>
        {{/each}}
    </div>
</body>
</html>

