<!DOCTYPE html>
<html lang="fr">
 <head>
   <meta charset="utf-8" />
   <title>Mon application avec NodeJS, ExpressJS et Handlebars</title>
   <link rel="stylesheet" type="text/css" href="./style.css" />
 </head>
 <body>
   <h1>MAIN</h1>
   <a href="/database">database</a>
   {{{body}}}
 </body>
</html>