<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./style.css" />
    <title>Login Page</title>
</head>
<body>
    {{>google-login}}
    <div class="navbar">
        <a href="/">Index</a>
        <a href="/create-post">Post</a>
        <a href="">GlobalPost</a>
        <a href="/profile">Your Profile</a> 
    </div>
    <div class="google-login-button-only">
        <h1 >You should be login before with :</h1>
        <div class="g-signin2" data-onsuccess="onSignIn" id="login">Sign up with Google</div>   
    </div>
</body>
</html>