
<!DOCTYPE html>
<html lang="fr">
 <head>
   <meta charset="utf-8" />
   <title>Mon application avec NodeJS, ExpressJS et Handlebars</title>
   <link rel="stylesheet" type="text/css" href="./style.css" />
   <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
 </head>  
<body>
    {{>navbar-loged}}
    <div class="feed-manage">
        {{#each postList as |post|}}
            <div class="post-manage">
                <div class="post-manage-header">
                    <img src="{{post.user_picture}}" alt="" >
                    <h5>{{post.user_name}}</h5>         
                </div>
                <form class="form-modify" action="" method="POST" name="postContent" id="post">
                    <input type="text" name="title" required style="font-family: 'DM Sans', sans-serif" value = '{{post.post_title}}'>
                    <textarea name="postContent" type="text" cols="13" rows="8" form="post" style="font-family: 'DM Sans', sans-serif;">{{post.post_content}}</textarea>
                    <button type="submit">Submit</button>
                </form>               
        </div>
        {{/each}}

    </div>
</body>
</html>