:root{
   --bg-blue:#05061a;  /*----var(--bg-blue)----*/
   --black:#000;       /*----var(--black)----*/
   --white:rgb(216, 214, 214);       /*----var(--white)----*/
   --purple:#6557b4;     /*----var(--purple)----*/
   --grey:rgb(206, 205, 205);
}
html{
   margin: 0;
   padding: 0;
   }
body{
   margin: 0;
   padding: 0;
   font-family: 'DM Sans', sans-serif;
   font-size: 15px;
   height: 90vh;
   background-color:var(--bg-blue);
}
.body-content{
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
/* NAVBAR */
/* NAVBAR */
/* NAVBAR */

.navbar{
   display: flex;
   justify-content: space-around;
   align-items: center;
   height: 6em;
   width: 100%;  
   background-color: var(--black);
  }
.navbar>a{
   border: 1.5px solid rgb(255, 255, 255);
   border-radius: 12px;
   text-decoration:none;
   color: whitesmoke;
   padding: 0.75em;
   width: 10%;
   text-shadow: 2px 5px 5px var(--purple);
}
.navbar>a:hover{
   border: 1.5px solid var(--grey);
   transform: scale(1.01);
   }
/* NAVBAR */
/* NAVBAR */
/* NAVBAR */


/* POST */
/* POST */
/* POST */
.globalpost-content{
   margin : 5em;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}
.post{
   display: flex;
   flex-basis: 30em;
   justify-content: space-around;
   align-items: center;
   flex-direction: column;
   margin: 1.5em;
   border:1px solid var(--white);
   width: 30%;
   height: 300px;
   color:var(--white);
}
.post>p{
   margin: 0.5em;
   padding: 0.5em;
   border:0.5px solid var(--white);
}
.post>button{
   margin: 0.5em;

   display: flex;
   align-self: flex-end;
   border-radius:2px ;
   border: 1px solid var(--purple);
   background-color: transparent;
   color: var(--white);
}
.post>button:hover{
   border: 1px solid var(--white);
}
/* POST */
/* POST */
/* POST */

/* FORM POST */
/* FORM POST */
/* FORM POST */
.form-post{
   width: 50em;
   display: flex;
   justify-content: center;
   text-align: center;
   flex-direction: column;
   margin-top: 5em;
}
.form-post>label{
   font-size: 24px;
}
.form-post>*{
   resize : none;
   margin-top: 1em;
   margin-bottom: 1em;
   color: whitesmoke;
}
.form-post>input{
   display:flex;
   align-self: center;
   height: 3em;
   width: 40%;
   border: 2.5px solid var(--purple);
   border-radius: 6px;
   text-decoration:none;
   background-color: black;

}
.form-post>button {
   display: flex;
   align-items: center;
   justify-content: center;
   align-self: flex-end;
   height: 3em;
   width: 20%;
   border: 1px solid  #FFF;
   border-radius: 6px;
   text-decoration:none;
   background-color: black;
   text-shadow: 2px 3px 5px var(--purple);
}
.form-post>button:hover{
   border: 1px solid var(--grey);
   transform: scale(1.01);
}
.form-post>textarea{
   color: var(--black);
   border: 2.5px solid var(--purple);
   border-radius: 6px;


}
/* FORM POST */
/* FORM POST */
/* FORM POST */